= provide(:title, 'Tutoria | Detalle')

- flash.each do |name, msg|
  = content_tag :div, msg, class: "alert alert-info"
.container
  %h1 Detalle
  %p
    Orden:    #{@materia_instance.materia.order.serial}
  - if current_user.user_role_type == "Tutor"
    %p
      Alumno:    #{@student.name}
    %p
      Colegio/Uni:    #{@student.school}
    %p
      Curso:    #{@student.grade}
    %p
      Acudiente: #{@student.parent.name}
    %p
      Direccion: #{@student.parent.address}
  - elsif current_user.user_role_type == "Parent"
    %p
      Tutor:    #{@materia_instance.tutor.name}
    %p
      Universidad:    #{@materia_instance.tutor.university}
    %p
      Carrera:    #{@materia_instance.tutor.major}
  %p
    Hora:    #{I18n.l(@materia_instance.at_time, format:'%I:%M %p')}
  %p
    Materia:   #{@materia_instance.materia.name}
  %p
    Duración:  #{@materia_instance.duration} horas
  %p
    Temas: #{@materia_instance.materia.topic}
